In [2]:
x = 0
y = 5

if x < y:                            # Truthy
    print('yes1')

if y < x:                            # Falsy
    print('yes2')

if x:                                # Falsy
    print('yes3')

if y:                                # Truthy
    print('yes4')

if 'aul' in 'grault':                # Truthy
    print('yes5')

if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes5')

yes1
yes4
yes5

In [3]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [4]:
if 'foo' in ['foo', 'bar', 'baz']:        
    print('Outer condition is true')      

    if 10 > 20:                           
        print('Inner condition 1')        

    print('Between inner conditions')     

    if 10 < 20:                           
        print('Inner condition 2')        

    print('End of outer condition')       
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [5]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [6]:
x = 500

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [11]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 5000 #2000

if uang > hargaBuku:
    print("beli buku sabi")
else:
    print("uang lu kurang broo")#"uang tidak cukup")

uang lu kurang broo

In [16]:
#name = 'Hacktiv8'
#name = 'Fred'
#name = 'Xander'
#name = 'Arnold'
name = input() #explore sendiri
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

arnold
I don't know who you are!

In [17]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [21]:
if 'z' in 'foo': print('1'); print('2'); print('3') 
else: print('3'); print('2'); print('1') #explore sendiri

3
2
1

In [23]:
x = 3

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [24]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [25]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [26]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [29]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [32]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [34]:
a = 30
b = 12

if a>b:
    m=a
else:
    m=b

m

30

In [36]:
m = a if a > b else b
m

30

In [37]:
if  True:
    pass
print('foo')

foo

In [38]:
s = "topiq"

for i in s:
    if i == 'p':
        print('Pass')
        pass
    print(i)

print()

for i in s:
    if i == 'p':
        print('Pass')
        continue
    print(i)

t
o
Pass
p
i
q

t
o
Pass
i
q

In [39]:
n = 5
while n>0:
    n-= 1
    print(n)

4
3
2
1
0

In [40]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [41]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [42]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [43]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [44]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [50]:
age = 30
gender = 'M'
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

father

In [51]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [52]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

In [53]:
for i = 1 to 10
    print(i+1)

SyntaxError: invalid syntax (1247839918.py, line 1)

In [62]:
for (i = 1, i <= 10, i++):
    print(i)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3985792042.py, line 1)

In [63]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [64]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [65]:
for k in d:
    print(d[k])

1
2
3

In [66]:
for k in d.values():
    print(k)

1
2
3

In [67]:
for k, v in d.items(): 
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [68]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [69]:
for k in d:
    print(d[k])

1
2
3

In [70]:
for v in d.values():
    print(v)

1
2
3

In [71]:
for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

In [75]:
x = range(5)
print(x)

range(0, 5)

In [76]:
for n in x:
    print(n)

0
1
2
3
4

In [77]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [78]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [79]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [80]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [84]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 98F
Temperaturnya adalah 37 derajat

In [83]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: STOP
stop